body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
}

#book-status {
  height: 300px;
  overflow-y: scroll;
  background-color: #1c1c1c;
}

.book-part {
  margin: 8px 0;
}
